
#blue-line {
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 3px;
    overflow-y: auto;
    width: 100%;
	height: 15px;
	background-color: #c5e3e3;
}

#thin-blue-line {
	margin-top: -35px;
	margin-left: 0px;
    overflow-y: auto;
    width: 100%;
	height: 5px;
	background-color: #c5e3e3;
}

.cabecera {
	height: 200px !important;
}

.cabecera-central-1 {
	background-image: url("../images/Banners/1.jpg");
	background-repeat: no-repeat;
	background-size: 105% 105%; 
	background-position-x: -2px;
	margin-top: -2px;
}
.cabecera-central-2 {
	background-image: url("../images/Banners/2.jpg");
	background-repeat: no-repeat;
	background-size: 105% 105%; 
	background-position-x: -2px;
	margin-top: -2px;
}
.cabecera-central-3 {
	background-image: url("../images/Banners/3.jpg");
	background-repeat: no-repeat;
	background-size: 105% 105%; 
	background-position-x: -2px;
	margin-top: -2px;
}
.cabecera-central-4 {
	background-image: url("../images/Banners/4.jpg");
	background-repeat: no-repeat;
	background-size: 105% 105%; 
	background-position-x: -2px;
	margin-top: -2px;
}
.cabecera-central-5 {
	background-image: url("../images/Banners/5.jpg");
	background-repeat: no-repeat;
	background-size: 105% 105%; 
	background-position-x: -2px;
	margin-top: -2px;
}
.cabecera-central-6 {
	background-image: url("../images/Banners/6.jpg");
	background-repeat: no-repeat;
	background-size: 105% 105%; 
	background-position-x: -2px;
	margin-top: -2px;
}
.cabecera-central-7 {
	background-image: url("../images/Banners/7.jpg");
	background-repeat: no-repeat;
	background-size: 105% 105%; 
	background-position-x: -2px;
	margin-top: -2px;
}
.cabecera-central-8 {
	background-image: url("../images/Banners/8.jpg");
	background-repeat: no-repeat;
	background-size: 105% 105%; 
	background-position-x: -2px;
	margin-top: -2px;
}.cabecera-central-9 {
	background-image: url("../images/Banners/9.jpg");
	background-repeat: no-repeat;
	background-size: 105% 105%; 
	background-position-x: -2px;
	margin-top: -2px;
}
.cabecera-central-10 {
	background-image: url("../images/Banners/10.jpg");
	background-repeat: no-repeat;
	background-size: 105% 105%; 
	background-position-x: -2px;
	margin-top: -2px;
}

.titulo {
	margin-left: 100px;
	margin-top: 60px;
	color: #177170;
}

.subtitulo {
	margin-left: 100px;
	margin-bottom: 80px;
	color: #77CBC9;
}

.titulo-seper {
	margin-left: 100px;
	margin-top: 60px;
	color: #77CBC9;
}

.subtitulo-seper {
	margin-left: 100px;
	margin-bottom: 80px;
	color: #177170;
}

.facebook-link {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 27px;
	height: 27px;
	float: right;
	margin-right: 5px;
}

.twitter-link {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 27px;
	height: 27px;
	float: right;
	margin-right: 5px;
}

.google-link {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 27px;
	height: 27px;
	float: right;
	margin-right: 5px;
}
