body {
    overflow-x: hidden; 
    font-family: avenir;   
}

@font-face {
	font-family: avenir;
	src: url('../fonts/Avenir.ttc');
}

#dark-blue-point {
    margin-top: 0px;
    margin-left: -20px;
    margin-bottom: -5px;
    width: 5px !important;
    height: 4px;
    padding: 0px;
    background-color: #2E595C;
}

#dark-blue-line {
    margin-top: 0px;
    margin-left: 0px;
    overflow-y: auto;
    width: 100%;
    height: 2px;
    background-color: #2E595C;
}

#white-line {
    margin-bottom: -5px;
    margin-left: 0px;
    overflow-y: auto;
    width: 100%;
    height: 4px;
    background-color: #fff;
}

#small-blue-line {
	margin-top: -10px;
	margin-left: 0px;
    overflow-y: auto;
    width: 100%;
	height: 5px;
	background-color: #C5E3E3;
}

.seper-title {
	margin-top: -40px;
	margin-bottom: 20px;
	margin-left: 90px;
}

.seper-title li{
	list-style-type: none;
	color: #2E595C;
}

.seper-title li::before {
	position:absolute;
	content:"";
	transform:translateY(-50%);
	margin-left:-10px;
	margin-top: 9px;
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #2E595C;
}

.cuerpo {
	margin-top: 50px;
	margin-left: -2px;
	margin-right: -2px;
	width: 105%;
	height: 520px;
}

.columna-texto {
	border-left: 5px solid;
	border-left-color: #C5E3E3;
	font-size: 12px;
	margin-bottom: 50px;
}

.columna {
	margin-top: 0px;
	margin-right: 50px;
	color: #2E595C;	
}

.barra-lateral {
	background: #C5E3E3;
	margin-left: 0px;
	border-top: 4px solid;
	border-top-color: #2E595C;
	padding-top: 10px;
	display: inline-block;
}

.titulo-cuerpo {
	margin-top: 0px;
	margin-bottom: 30px;
	display: inline-block;
	background-color: #C5E3E3;
	height: 30px;
	padding: 5px;
	border-top: 2px solid;
	border-top-color: #2E595C;
}

.material-icons {
	font-size: 18px !important;
	vertical-align: bottom;
}

.lineas-fotos {
	width: 90%;
	margin-top: 35px;
	margin-left: 50px;
	margin-bottom: 20px;
}

.foto {
	margin-bottom: 15px;
	width: 90%;
}

.pie {
	width: 250px;
	margin: 0 auto;
}

.enlaces-pie {
	font-size: 10px;
	text-align: center;
}

.enlaces-pie ul {
	margin: 0;
	padding: 0;
}

.enlaces-pie ul li {
	color: #2E595C;
	list-style-type: none;
	display: inline-block;
}

.enlaces-pie ul li:not(:first-child):before {
	content: " | ";
}

.enlaces-pie ul li a {
	color: #2E595C;
	padding: 15%;
	padding-top: 5px !important;
}

.enlaces-pie li a:hover,
.enlaces-pie li a:active,
.enlaces-pie li a:focus {
	text-decoration: none;
	background-color: none;
	color: #77CBC9;
}
