body {
    overflow-x: hidden;
}

.container-fluid.barra {
	background-color: #177170;
}

.navbar-nav {
	background-color: #177170;
}

.navbar-nav li a {
	color: #fff;
}

.navbar-nav li a:active,
.navbar-nav li a:hover,
.navbar-nav li a:focus {
	background-color: #177170 !important;
    color:#C5E3E3;
}

.dropdown-menu.columns-5 {
	margin-top: 3px !important;
	width: 1200px;
	border-top: 10px solid;
	border-top-color: #C5E3E3;
}

.multi-column-dropdown {
	list-style-type: none;
	padding-left: 10px;
}

.multi-column-dropdown li a {
	padding: 3px;
	display: block;
	color: #2E595C;
}

.multi-column-dropdown li a:hover {
	text-decoration: none;
    color: #C5E3E3;
    background: #fff !important;
}
