
.sidebar-nav {
    position: static;
    margin-top: 20px;
    margin-bottom: 60px;
    display: inline-block;
    list-style: none;
    width: 250px;
}

.sidebar-nav li {
    text-indent: 0px;
    line-height: 40px;
}

.sidebar-nav li a {
	width: 200px;
    display: block;
    text-decoration: none;
    color: #fff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #2E595C;
    background: rgba(197, 227, 227, 1);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none !important;
    color: #2E595C !important;
    background: rgba(197, 227, 227, 1) !important;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #2E595C;
    background: rgba(197, 227, 227, 1);
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs>li>a {
    border: none;
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover {
    color: #2E595C;
    cursor: default;
    background-color: rgba(197, 227, 227, 1);
    border: none;
}