.container-fluid.barra {
	background-color: #177170;
	height: 30px;
	margin-bottom: 0px;
}

.navbar-nav {
	background-color: #177170;
	height: 20px;
	margin-left: 20px;
}

.navbar-nav li a {
	color: #fff;
	padding: 5px;
	margin-right: 20px;
	height: 20px;
}

.navbar-nav li a:before {
	content: " | ";
}

.nav .open>a, 
.nav .open>a:focus, 
.nav .open>a:hover {
    background-color: #177170;
    border-color: #177170;
    color:#77CBC9;
}

.navbar-nav li a:active,
.navbar-nav li a:hover,
.navbar-nav li a:focus {
	background-color: #177170 !important;
    color:#77CBC9;
}

.dropdown-menu.columns-5 {
	margin-top: 13px !important;
	width: 740%;
	border-top: 10px solid;
	border-top-color: #C5E3E3;
	font-size: 12px;
}

.multi-column-dropdown {
	list-style-type: none;
	padding-left: 10px;
	margin-right: -50px !important;
}

.multi-column-dropdown li a {
	padding: 3px;
	margin-right: -40px !important;
	display: block;
	color: #2E595C;
}

.multi-column-dropdown li a:hover {
	text-decoration: none;
    color: #77CBC9;
    background: #fff !important;
}
